.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roundCards {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #3EDEA9;
    width: 75px;
    height: 75px;
    overflow: hidden;  
}