.advertising {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #bdbaba6c;
    height: 400px;
}

#imagemCachorro {
    width: 400px;
    margin-top: 100px; 
}

.fraseVerde {
    color: #38bd91;
    font-weight: 600;
}

.advertising p {
    font-size: small;
}

